@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background: linear-gradient(to left, #4ecb81 , #C4A484 );
  position: relative;
  
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}


body.loaded {
  overflow: auto;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  background-size: cover;
  position: relative;
}

.intro-content {
  color: #fff; /* Adjust based on your background image for visibility */
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  background: linear-gradient(to left, #4ecb81 , #C4A484 );;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav li {
  
  padding: 10px;
}



/* Style for the left and right items */
nav .left,
nav .right {
  flex: 1;
  text-align: center;
}

/* Style for the middle item */
nav .middle {
  flex: 2;
  text-align: center;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
 
}

section {
  height: 100vh;
 
  scroll-snap-align: start;
  position: relative;
}

section .container {
  max-width: 1360px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: flex-start;
}

section.one .container {
  grid-template-areas: "content ..";
}

section.two .container {
  grid-template-areas: ".. content";
}

.hero {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;

  grid-area: content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  line-height: 100px;
  font-weight: 700;
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Existing styles */
  z-index: 1; /* Ensure it's below overlaying elements */

}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  font-family: inherit;
  display: block;
  width: 100%;
}

h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  display: block;
  width: 100%;
}

.loading-bar {
  position: fixed;
  top: 50%;
  width: 100%;
  height: 2px;
  z-index: 99;
  background: #ffffff;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: top left;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}


.site-footer {
  background: linear-gradient(to right, #d7ccc8, #ffffff);
  color: #333;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px; /* Adjust based on your footer height */
  overflow: hidden;
  background: linear-gradient(to left, #4ecb81 , #C4A484 );

}

.site-footer .container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.site-footer p {
  margin: 0;
  font-size: 16px;
}


.download-button {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  color: #000; /* Black text */
  text-decoration: none;
  padding: 10px 50px;
  border: 2px solid #000; /* Black border */
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 5px #000;
  margin-top: 20px; /* Adds spacing between the paragraph and the button */
}

.download-button:hover {
  background: rgba(255, 255, 255, 0.3); /* Slightly less transparent */
  transform: translateY(-2px);
  box-shadow: 0 7px #666;
}

.download-button:active {
  transform: translateY(4px);
  box-shadow: 0 2px #666;
}

.navbar{
  padding:5px 60px;
}

/* Ensure that the section has a specific ID or class for unique targeting */
.three {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  height: 100vh;
  text-align: center;
  overflow: hidden; /* Use 'hidden' to prevent scroll bars, but be cautious of content cut-off */
}

/* Adjust the heading styles */
.three h1 {
  font-size: 4.5vw; /* Use viewport width for responsive sizing */
  margin: 0;
  padding: 8vh 0; /* Add top and bottom padding */
  /* Remove absolute positioning or any transforms that could affect the layout */
  z-index: 2; /* Ensure the heading is layered above the paragraph */
}

/* Style the paragraph text */
.three p {
  font-size: 16px; /* Use viewport width for responsive sizing */
  max-width: 80%; /* Set a max-width for line length control */
  margin-top: 30vh; /* Adjust the negative margin to pull text up towards the heading */
  z-index: 1; /* Ensure the paragraph is below the heading if overlapping occurs */
}
