body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
 
}

header h1 {
  
  font-weight: 900; /* Bold font */
  font-size: 2.5rem; /* Larger font size */
  margin: 100px 100px 200px 300px; /* Spacing at bottom */
  background-image: linear-gradient(to right, #000000, #4ecb81);
  -webkit-background-clip: text;
  color: transparent; /* Transparent color shows the gradient */
  display: inline-block; /* Required for the background-clip */
  line-height: 1.5; /* Adjust for better readability */
  font-size: 70px;
}

.diseases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  margin-bottom: 40px;
}

.disease {
  opacity: 1;
  transition: opacity 0.6s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between; /* This separates the image and the text */
  width: 70%; /* Adjust this as needed for your layout */
  margin-bottom: 100px; /* Increased bottom margin */
  
}

.disease img {
  width: 500px; /* Adjusted to a larger fixed width */
  height: 500px; /* Adjusted to a fixed height to maintain aspect ratio */
  object-fit: cover; /* This will cover the area without stretching the image */
  border-radius: 250px; /* This will give you rounded corners */
}


.description {
  max-width: 500px;
}




.explore-btn {
  padding: 10px 40px;
  margin-top: 20px;
  border: 2px solid #4ecb81;
  color: #4ecb81;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  display: inline-block;
  background-color: #ffffff;
  transition: color 0.5s ease, background-color 0.5s ease;
  z-index: 1;
}

.explore-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background-color: #4ecb81;
  z-index: -1;
  transition: transform 1s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.explore-btn:hover::after {
  transform: scaleX(1);
  left:0;
}

.explore-btn:hover {
  color: #fff;
}


.explore-btn:hover::after {
  left: 0; /* Finish at the right */
}


.explore-btn span {
  position: relative; /* Ensures that the text stays on top of the pseudo-element */
  z-index: 1;
}

/* ... Rest of the existing CSS ... */


@media (max-width: 768px) {
  .disease,
  .disease.reverse {
    flex-direction: column;
    text-align: center;
  }
  .disease img {
    margin: 0 auto 5px; /* Center the image and add margin below */
  }
  .description {
    margin-left: 0; /* Remove the left margin for mobile view */
  }
}
